<head>
  <title>Error!</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<h1>ERROR!</h1>
<h2 style="color:crimson"><%= message %></h2>
<h2><%= error.status %></h2>
<pre style="white-space: pre-wrap; word-wrap: break-word; "><%= error %></pre>
